<p style="color: green"><%= notice %></p>

<h1>HTTP Checks</h1>

<div>
  <%= link_to "New http check", new_jobs_http_check_path %>
  <br/><br/>
</div>

<div id="jobs_http_checks">
  <table>
  <tr>
    <th>Title</th>             
    <th>Active</th>
    <th>Public</th>                      
    <th>URL</th>
    <th>Status</th>
    <th>Interval</th>
    <th>Latest Change</th>
    <th>Checks Counter</th>
    <th>Action</th>
  </tr>
  <% @jobs_http_checks.each do |jobs_http_check| %>
    <% cache jobs_http_check do %>
      <tr>
        <td><%= jobs_http_check.title %></td>
        <td><%= jobs_http_check.active %></td>
        <td><%= jobs_http_check.public %></td>
        <td><%= jobs_http_check.url %></td>
        <% if jobs_http_check.status == "up" %>
          <td style="background: green;">
            <%= jobs_http_check.status %>
          </td>
        <% elsif jobs_http_check.status == "down" %>
          <td style="background: red;">
            <%= jobs_http_check.status %>
          </td>
        <% else %>
          <td>
            <%= jobs_http_check.status %>
          </td>
        <% end %>
        <td><%= jobs_http_check.interval %>min</td>
        <td><%= jobs_http_check.updated_at %></td>
        <td><%= jobs_http_check.count_checks %></td> 
        <td><%= link_to "Show", jobs_http_check %></td>
      </tr>
    <% end %>
  <% end %>
  </table>
</div>