<p style="color: green"><%= notice %></p>

<%= render @jobs_http_check %>
<ul>
  <li> <%= @jobs_http_check.id %> </li>
  <li> <%= @jobs_http_check.title %> </li>
  <li> <%= @jobs_http_check.active %> </li>
  <li> <%= @jobs_http_check.public %> </li>
  <li> <%= @jobs_http_check.url %> </li>
  <li> <%= @jobs_http_check.valid_status %> </li>
  <li> <%= @jobs_http_check.status %> </li>
  <li> <%= @jobs_http_check.interval %> </li>
</ul>


<div>
  <%= link_to "Edit this http check", edit_jobs_http_check_path(@jobs_http_check) %> |
  <%= link_to "Back to http checks", jobs_http_checks_path %>

  <%= button_to "Destroy this http check", @jobs_http_check, method: :delete %>
</div>
